export(passage_acat)
export(passage_default_range_grid)
export(passage_fit_engine_pca)
export(passage_fit_engine_crossfit_spots)
export(passage_fit_engine_pathway_holdout)
export(passage_fit_engine_alternating_gp)
export(passage_fit_engine_nmf)
export(passage_fit_engine_smoothed_pca)
export(passage_fit_engine_spatial_basis)
export(passage_fit_factor_engine)
export(passage_compare_factor_engines)
export(passage_conditional_competitive_test)
export(passage_competitive_fast_context)
export(passage_empirical_competitive_calibration)
export(passage_empirical_tail_calibrate)
export(passage_gene_spatial_stats)
export(passage_gene_score_z)
export(passage_gene_pERSA)
export(passage_gene_lse)
export(passage_gene_activity_pathway_score_stat)
export(passage_effective_pathway_size)
export(passage_pathway_activity_hotspot_stat)
export(passage_pathway_factor_hsic_stat)
export(passage_pERSA_pathway_score_stat)
export(passage_fast_cEPSV)
export(passage_fast_ePSV)
export(passage_fast_pc1_spatial_fraction)
export(passage_h_precompute)
export(passage_make_gene_bins)
export(passage_make_expression_coherence_balance)
export(passage_make_factor_coherence_balance)
export(passage_combine_balance_functions)
export(passage_pathway_coherence_test)
export(passage_pathway_covariance_metrics)
export(passage_pathway_score_stat)
export(passage_standardize_gene_stat_by_bin)
export(passage_robust_pathway_score_stat)
export(passage_sparse_topk_pathway_score_stat)
export(passage_pathway_spatial_transferability)
export(passage_pve)
export(passage_region_enrichment_test)
export(passage_resolve_pathway)
export(passage_run)
export(passage_score_test)
export(passage_score_test_refit_null)
export(passage_competitive_gene_stat_z)
export(passage_competitive_permutation_test)
export(passage_compile_joint_factor_tmb)
export(passage_compare_joint_factor_nested)
export(passage_fit_joint_factor_hypotheses)
export(passage_fit_joint_factor_nested)
export(passage_fit_joint_factor_pathway)
export(passage_fit_joint_factor_pathways)
export(passage_fit_joint_factor_tmb)
export(passage_joint_factor_pve)
export(passage_select_joint_factor_tmb)
export(passage_simulate_joint_factor_tmb_data)
export(passage_test_pathway)
export(passage_vecchia_precision)
export(spapath_acat)
export(spapath_default_ranges)
export(spapath_feature_scores)
export(spapath_knn)
export(spapath_pathway_tests)
export(spapath_sparse_kernel_from_knn)
export(spapath_test)
S3method(print,passage_engine)
S3method(print,passage_joint_factor_tmb)
S3method(print,passage_run)
S3method(print,spapath_result)
importFrom(Matrix, Diagonal)
importFrom(Matrix, Cholesky)
importFrom(Matrix, Matrix)
importFrom(Matrix, crossprod)
importFrom(Matrix, diag)
importFrom(Matrix, sparseMatrix)
